<launch>
    <!-- If not env variable is set for model, choose burguer. -->
    <arg name="model" default="$(optenv TURTLEBOT3_MODEL burger)" doc="model type [burger, waffle, waffle_pi]"/>
    
    <!-- TURTLEBOT3_0 -->
    <arg name="first_tb3" default="tb3_0"/>
    <arg name="first_tb3_x_pos" default="0.5"/>
    <arg name="first_tb3_y_pos" default="0.0"/>
    <arg name="first_tb3_z_pos" default=" 0.0"/>
    <arg name="first_tb3_yaw" default="0.0"/>

    <!-- TURTLEBOT3_1 -->
    <arg name="second_tb3" default="tb3_1"/>
    <arg name="second_tb3_x_pos" default="-0.5"/>
    <arg name="second_tb3_y_pos" default="0.0"/>
    <arg name="second_tb3_z_pos" default="0.0"/>
    <arg name="second_tb3_yaw" default="0.0"/>

    <!-- Launch simpler TB3 world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- Spawn TURTLEBOT3_0 in its own namespace. -->
    <group ns = "$(arg first_tb3)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="log">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="$(arg first_tb3)" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg first_tb3) -x $(arg first_tb3_x_pos) -y $(arg first_tb3_y_pos) -z $(arg first_tb3_z_pos) -Y $(arg first_tb3_yaw) -param robot_description" />
    </group>

    <!-- Spawn TURTLEBOT3_1 in its own namespace. -->
    <group ns = "$(arg second_tb3)">
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="log">
            <param name="publish_frequency" type="double" value="50.0" />
            <param name="tf_prefix" value="$(arg second_tb3)" />
        </node>

        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg second_tb3) -x $(arg second_tb3_x_pos) -y $(arg second_tb3_y_pos) -z $(arg second_tb3_z_pos) -Y $(arg second_tb3_yaw) -param robot_description" />
    </group>

    <!-- Launch GMapping for each robot. -->
    
    <include file="$(find coop_mapping)/launch/my_turtlebot3_gmapping.launch" ns="$(arg first_tb3)">
        <arg name="model" value="$(arg model)"/>
        <arg name="set_base_frame" value="$(arg first_tb3)/base_footprint"/>
        <arg name="set_odom_frame" value="$(arg first_tb3)/odom"/>
        <arg name="set_map_frame" value="$(arg first_tb3)/map"/>
    </include> 

    <include file="$(find coop_mapping)/launch/my_turtlebot3_gmapping.launch" ns="$(arg second_tb3)">
        <arg name="model" value="$(arg model)"/>
        <arg name="set_base_frame" value="$(arg second_tb3)/base_footprint"/>
        <arg name="set_odom_frame" value="$(arg second_tb3)/odom"/>
        <arg name="set_map_frame" value="$(arg second_tb3)/map"/>
    </include> 
    


    <!-- Launch multi_map_merge. -->
    <include file="$(find coop_mapping)/launch/2_robots_multi_map_merge.launch">
        <arg name="first_tb3"  value="$(arg first_tb3)"/>
        <arg name="first_tb3_x_pos" value="$(arg first_tb3_x_pos)"/>
        <arg name="first_tb3_y_pos" value="$(arg first_tb3_y_pos)"/>
        <arg name="first_tb3_z_pos" value="$(arg first_tb3_z_pos)"/>
        <arg name="first_tb3_yaw"   value="$(arg first_tb3_yaw)"/>

        <arg name="second_tb3"  value="$(arg second_tb3)"/>
        <arg name="second_tb3_x_pos" value="$(arg second_tb3_x_pos)"/>
        <arg name="second_tb3_y_pos" value="$(arg second_tb3_y_pos)"/>
        <arg name="second_tb3_z_pos" value="$(arg second_tb3_z_pos)"/>
        <arg name="second_tb3_yaw"   value="$(arg second_tb3_yaw)"/>
    </include>

    <!-- Launch RViz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find coop_mapping)/rviz/2_robots.rviz"/>

</launch>