<!-- 
  Turtlebot navigation simulation:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>
  <!-- !!! IMPORTANT !!! The tutorial I'm following is below. -->
  <!-- Tutorial: https://answers.ros.org/question/41433/multiple-robots-simulation-and-navigation/ -->

  <arg name="base"       default="$(optenv TURTLEBOT_BASE kobuki)"/>  <!-- create, rhoomba -->
  <arg name="stacks"     default="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor"  default="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->

  <!-- Name of the map to use (without path nor extension) and initial position -->
  <arg name="map_file"       default=" $(find my_turtlebot)/maps/maze.yaml"/> <!-- robopark_plan -->
  <arg name="world_file"     default=" $(find my_turtlebot)/maps/stage/maze_two_robots.world"/>

  <!-- Explanation here: http://wiki.ros.org/Clock#Using_Simulation_Time_from_the_.2BAC8-clock_Topic -->
  <param name="/use_sim_time" value="true"/>
  <!--  ******************** Stage ********************  -->
  <!-- 
        Publishes transforms:
          /base_link -> /base_laser
          /base_footprint -> /base_link (identity)
          /odom -> base_footprint
        Publishes topics:
          /odom : odometry data from the simulated odometry
          /base_scan : laser data from the simulated laser
          /base_pose_ground_truth : the ground truth pose
        Parameters:
          base_watchdog_timeout : time (s) after receiving the last command on cmd_vel before stopping the robot
        Args:
          -g : run in headless mode.
  --> 
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
    <remap from="robot_1/base_scan" to="/robot_1/scan"/>
  </node>

  <!--  ****** Maps *****  -->
  <!-- Publish map information using map_server. -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map"/>
  </node>

  <!-- BEGIN ROBOT_1-->
  <group ns="robot_1">
    <param name="tf_prefix" value="robot_1_tf" />
    <include file="$(find turtlebot_bringup)/launch/includes/robot.launch.xml">
      <arg name="base" value="$(arg base)" />
      <arg name="stacks" value="$(arg stacks)" />
      <arg name="3d_sensor" value="$(arg 3d_sensor)" />
    </include>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="false"/>
    </node>

    <!-- AMCL publishes a transform that allows to known the position of the robot in the map.
    Source: https://answers.ros.org/question/12750/problem-in-transform-from-map-to-base/
    -->
    <include file="$(find my_turtlebot)/launch/my_acml.launch.xml">
      <arg name="scan_topic" value="/robot_1/scan"/>
      <arg name="use_map_topic" value="true"/>
      <arg name="global_frame_id" value="/map"/>
      <arg name="initial_pose_x" value="6.0"/>
      <arg name="initial_pose_y" value="6.0"/>
      <arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>

  <!-- RVIZ -->
  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find my_turtlebot)/rviz/my_config_1.rviz" /> -->
</launch>
